@media only screen and (max-width: 600px) {
    /*Tela de carregamento*/
    .project-loader{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: initial;    
    }
    .loader .bubblingG {
        left: inherit;
        margin-left: 0px;
        margin-top: 0px;
        top: 38%;
    }

    /*Ajustes menu navegacao*/
    #idioma{ 
        top: 1.2rem;
        right: 0;
        left: 0;
        text-align: center; 
    }
    .m-nav{
        color:#fff;
        position: fixed;
        right: 0px;
        z-index: 9999;
    }
    .nav-li > a {
        line-height: 2.6!important; 
        width: 200px;
    }
    .m-itens-menu{
        margin-top: 12%;
        margin-left: 0%!important;
        display: block!important;
        text-align: inherit;
    }
    .navbar-nav > li > div.uk-dropdown {    
        position: unset;
        margin-left: 5%;
        min-width: 200px;
        padding: 0px;
        background: #fff0;
        box-shadow: none;
    }
    .uk-dropdown-nav>li>a {
        color: #fff;
    }
    .navbar-collapse{
        max-height: inherit;
    }
    .navbar-smak .nav {
        padding-top: 4rem;
    }
    .navbar-small {
        height: unset;
    }
    .navbar-small .nav {
        padding-top: 4rem!important;
    }

    /* Ajuste service */
    .img-services {
        height: inherit;
    }

    /*Ajustes equipes*/
    #equipe_p2_cv{
        text-align: center;
    }
    .m-equipe-social{
        text-align: center;
    }
    .img-team {
        display: block;
        margin: auto;
        position: unset;
        transform: none;
        margin-top: 2rem;
    }
    .uk-card-title {
        text-align: center;
    }


    /*Ajustes contatos*/
    img.pulse {
        width: 40px;
        bottom: 35px;
        right: 10px; 
    }
    img#contatoW {
        bottom: 90px;
    }
    .agende-reuniao-botao > a {
        /*left: 1.7rem;
        right: unset;
        top: 3.5rem;*/
        left: 0; */
        right: 0;
        top: 4rem;
        width: 100%;
    }
  }